body {
  font-family: 'Lato-Regular';

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  section.hero {
    background-image: url('../images/pao-de-acucar-mobile.webp');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;

    &::before {
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      background-image: linear-gradient(#161618, #16161800);
    }

    .destak {
      height: 100vh;
      position: relative;
      padding-top: 100px;
      color: #fff;

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 200px);

        .wrapper_content {
          .index_slider {
            display: none;
          }

          .wrapper_title {
            h1 {
              font-size: 50px;
              display: flex;
              flex-direction: column;

              span {
                font-family: 'Rock Salt';
                font-size: 150px;
              }
            }

            h2 {
              display: none;
            }
          }
        }
      }

      .links {
        background-color: #131c21;
        opacity: 0.8;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .link-item {
          /* color: #f2b822; */
          display: none;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 100%;

          svg {
            fill: #f2b822;
            margin-right: 22px;
            height: 48px;
            width: 48px;
          }

          h3,
          h4 {
            font-weight: 300;
            margin: 0;
          }

          h3 {
            font-size: 25px;
            line-height: 1;
          }

          h4 {
            font-size: 15px;
            line-height: 1;
          }

          &:first-child {
            display: flex;
          }
        }

        .arrow {
          margin-left: 10px;
          position: absolute;
          right: 0;

          svg {
            margin-right: 40px;
          }
        }
      }
    }
  }
}

/* //Responsive Web Design - RWD
1 - O Browser (navegador) deve ter a capacidade de renderizar o site em dispositivos moveis (meta viewport) */
/* 2 - Definir Breackpoints */
/* 3- Defina QUAL elemento sofre mudanças, QUANDO e COMO - dentro dos media queries */

// TABLET
@media (min-width: 768px) {
  body {

    .max-width {
      max-width: 700px !important;
    }

    section.hero {
      background-image: url('../images/pao-de-acucar-tablet.png');
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;

      .destak {
        .title {
          position: relative;

          .wrapper_content {
            .wrapper_title {
              position: relative;

              h1 {
                flex-direction: row;
                align-items: center;
                font-size: 70px;

                span {
                  margin-left: 45px;
                }
              }

              h2 {
                position: absolute;
                display: flex;
                /* bottom: 100px; */
                left: 100px;
                font-family: 'Lato-Light';
                text-transform: uppercase;
                font-size: 15px;
              }
            }
          }
        }

        .links {
          .link-item {
            h3 {
              font-size: 25px;
              line-height: 1;
            }

            h4 {
              font-size: 15px;
              line-height: 1;
              font-weight: 400;
            }

            &:nth-child(2) {
              display: flex;
              margin-left: 36px;
            }
          }
        }

        .arrow {
          position: absolute;
          right: 0;
          margin-right: 50px;
        }
      }
    }
  }
}

// DESKTOP
@media (min-width: 1200px) {
  body {
    section.hero {
      background-image: url('../images/pao-de-acucar-desktop.webp');
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;

      .destak {
        .title {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .wrapper_content {
          position: relative;
          width: 1000px;
          display: flex;
          align-items: center;
          justify-content: center;

          .index_slider {
            display: flex !important;
            flex-direction: column;
            position: absolute;
            left: 0;
            padding: 0;
            margin: 0;

            .item_slider_index {
              margin-top: 10px;
              margin-bottom: 10px;

              span {
                font-weight: bold;
                font-size: 15px;
              }

              .bar {
                height: 0;
              }

              &.active {
                color: #f2b822;
                margin-bottom: 0;

                .bar {
                  margin-top: 2px;
                  margin-bottom: 8px;
                  height: 100px;
                  width: 2px;
                  background-color: #fff;
                  margin: 0 auto;
                }
              }
            }
          }
        }

        .links {
          .link-item {
            h3 {
              font-size: 18px;
              line-height: 1;
            }

            svg {
              path {
                fill: #fff;
              }
            }

            &.selected {
              color: #f2b822;

              svg {
                path {
                  fill: #f2b822;
                }
              }
            }

            &:nth-child(3),
            &:nth-child(4) {
              display: flex;
              margin-left: 36px;
            }
          }
        }

        .arrow {
          display: none;
        }
      }
    }
  }
}
