@import 'globals.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'home.scss';
@import 'popular-places.scss';
@import 'why-choose-us.scss';
@import 'perfect-vacations.scss';
@import 'footer.scss';
