@charset "UTF-8";
body {
  font-family: "Lato-Regular";
}
body a {
  color: #fff;
  text-decoration: none;
}
body ul {
  padding: 0;
  list-style: none;
}
body section.hero {
  background-image: url("../images/pao-de-acucar-mobile.webp");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-size: cover;
}
body section.hero::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-image: linear-gradient(#161618, rgba(22, 22, 24, 0));
}
body section.hero .destak {
  height: 100vh;
  position: relative;
  padding-top: 100px;
  color: #fff;
}
body section.hero .destak .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}
body section.hero .destak .title .wrapper_content .index_slider {
  display: none;
}
body section.hero .destak .title .wrapper_content .wrapper_title h1 {
  font-size: 50px;
  display: flex;
  flex-direction: column;
}
body section.hero .destak .title .wrapper_content .wrapper_title h1 span {
  font-family: "Rock Salt";
  font-size: 150px;
}
body section.hero .destak .title .wrapper_content .wrapper_title h2 {
  display: none;
}
body section.hero .destak .links {
  background-color: #131c21;
  opacity: 0.8;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body section.hero .destak .links .link-item {
  /* color: #f2b822; */
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body section.hero .destak .links .link-item svg {
  fill: #f2b822;
  margin-right: 22px;
  height: 48px;
  width: 48px;
}
body section.hero .destak .links .link-item h3,
body section.hero .destak .links .link-item h4 {
  font-weight: 300;
  margin: 0;
}
body section.hero .destak .links .link-item h3 {
  font-size: 25px;
  line-height: 1;
}
body section.hero .destak .links .link-item h4 {
  font-size: 15px;
  line-height: 1;
}
body section.hero .destak .links .link-item:first-child {
  display: flex;
}
body section.hero .destak .links .arrow {
  margin-left: 10px;
  position: absolute;
  right: 0;
}
body section.hero .destak .links .arrow svg {
  margin-right: 40px;
}

/* //Responsive Web Design - RWD
1 - O Browser (navegador) deve ter a capacidade de renderizar o site em dispositivos moveis (meta viewport) */
/* 2 - Definir Breackpoints */
/* 3- Defina QUAL elemento sofre mudanças, QUANDO e COMO - dentro dos media queries */
@media (min-width: 768px) {
  body .max-width {
    max-width: 700px !important;
  }
  body section.hero {
    background-image: url("../images/pao-de-acucar-tablet.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }
  body section.hero .destak .title {
    position: relative;
  }
  body section.hero .destak .title .wrapper_content .wrapper_title {
    position: relative;
  }
  body section.hero .destak .title .wrapper_content .wrapper_title h1 {
    flex-direction: row;
    align-items: center;
    font-size: 70px;
  }
  body section.hero .destak .title .wrapper_content .wrapper_title h1 span {
    margin-left: 45px;
  }
  body section.hero .destak .title .wrapper_content .wrapper_title h2 {
    position: absolute;
    display: flex;
    /* bottom: 100px; */
    left: 100px;
    font-family: "Lato-Light";
    text-transform: uppercase;
    font-size: 15px;
  }
  body section.hero .destak .links .link-item h3 {
    font-size: 25px;
    line-height: 1;
  }
  body section.hero .destak .links .link-item h4 {
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
  }
  body section.hero .destak .links .link-item:nth-child(2) {
    display: flex;
    margin-left: 36px;
  }
  body section.hero .destak .arrow {
    position: absolute;
    right: 0;
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  body section.hero {
    background-image: url("../images/pao-de-acucar-desktop.webp");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }
  body section.hero .destak .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body section.hero .destak .wrapper_content {
    position: relative;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body section.hero .destak .wrapper_content .index_slider {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
  }
  body section.hero .destak .wrapper_content .index_slider .item_slider_index {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body section.hero .destak .wrapper_content .index_slider .item_slider_index span {
    font-weight: bold;
    font-size: 15px;
  }
  body section.hero .destak .wrapper_content .index_slider .item_slider_index .bar {
    height: 0;
  }
  body section.hero .destak .wrapper_content .index_slider .item_slider_index.active {
    color: #f2b822;
    margin-bottom: 0;
  }
  body section.hero .destak .wrapper_content .index_slider .item_slider_index.active .bar {
    margin-top: 2px;
    margin-bottom: 8px;
    height: 100px;
    width: 2px;
    background-color: #fff;
    margin: 0 auto;
  }
  body section.hero .destak .links .link-item h3 {
    font-size: 18px;
    line-height: 1;
  }
  body section.hero .destak .links .link-item svg path {
    fill: #fff;
  }
  body section.hero .destak .links .link-item.selected {
    color: #f2b822;
  }
  body section.hero .destak .links .link-item.selected svg path {
    fill: #f2b822;
  }
  body section.hero .destak .links .link-item:nth-child(3), body section.hero .destak .links .link-item:nth-child(4) {
    display: flex;
    margin-left: 36px;
  }
  body section.hero .destak .arrow {
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
